@import "bootstrap-sass/lib/bootstrap";
@import "bootstrap-sass/lib/responsive";


body {
  background-color: orange;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: none;
}
#frontpage {
  text-align: center;
  input {
    font-family: Courier;
    font-weight: bold;
    font-size: 30px;
    line-height: 1;
    height: 30px;
  }
  button {
    height: 40px;
    width: 220px;
    font-weight: bold;
    font-size: 25px;
    padding-left: 0;
    padding-right: 0;
  }
  li {
    list-style: none;
  }
}
.id {
  font-family: Courier;
  display: inline;
}
#create {
  .answer {
    height: 40px;
    clear: left;
  }
  .close {
    float: none;
    padding-left: 10px;
    padding-right: 10px;
  }
  .add:hover {
    opacity: 0.55;
    background-color: transparent;
  }
  .add {
    border: none;
    opacity: 0.3;
    font-weight: bold;
    font-size: 20px;
    line-height: 1;
    color: black;
    text-shadow: 1px 1px 0 white;
    vertical-align: middle;
    clear: left;
    margin-bottom: 10px;
    a {
      font-size: 22px;
      span {
        font-size: 16px;
        padding-left: 5px;
      }
    }
  }
}
.topMenu {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 0;
  opacity: 0.9;
  a {
    color: #000;
  }
  .container {
    max-width: 940px;
  }
}
.navbar-inner {
  padding: 0 !important;
}
@media (max-width: 979px){
  body {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.content-container {
  margin-top: 50px;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;    
}
.tab-pane > a {
  margin-right: 5px;
}
#vote {
  label {
    padding-left: 17px;
  }
}
// Animation on ng-repeat, http://www.yearofmoo.com/2013/04/animation-in-angularjs.html
.animate-enter,
.animate-leave,
.animate-move {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
  position:relative;
}
.animate-enter {
  opacity:0;
}
.animate-enter.animate-enter-active {
  opacity:1;
}
.animate-leave {
  opacity:1;
}
.animate-leave.animate-leave-active {
  opacity:0;
}
.animate-move {
  opacity:0.5;
}
.animate-move.animate-move-active {
  opacity:1;
}

// ng-hide/show
.slide-hide, .slide-show {
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;
}
.slide-show {
//  float: left;
  opacity: 0;
  position: absolute;
}
.slide-show-active {
  opacity: 1;
}
.slide-hide {
  float: left;
  opacity: 1;
  left: 0;
}
.slide-hide-active {
  opacity: 0;
  left: -100%;
}
.tab-content {
  overflow: hidden;
}
#view {
  .questions {
    // flow questions on side of each other
    margin-left: 0;
    background-color: white;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
  }
/*  .questions:nth-child(even) {
    clear:left;
  } */
  .question {
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: lightblue;
    display: block;
    @include border-radius(5px 5px 0px 0px);
    font-size: 20px;
    line-height: 1;
    font-weight: 200;
  }
  .answers {
    .answer {
      min-height: 20px;
      clear: left;
    }
    .progress {
      clear:right;
      margin-bottom: 0;
      min-height: 20px;
    }
  }
  .bottom {
    clear: left;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.header {
  overflow: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  h4 {
    float: left;
  }
  button {
    float:right;
    margin-right: 10px;
    margin-top: 5px;
  }
}
.fadeout {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 2;
}
.message {
  position: fixed;
  left: 10%;
  right: 10%;
  top: 15%;
  bottom: 15%;
  padding-top: 15%;
  padding-bottom: 15%;
  z-index: 3;
  width: 70%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  background-color: lightgrey;
  font-size: 30px;
  line-height: 35px;
  @include border-radius(5px);
}
#overview {
  p.lead {
    margin-bottom: 0;
  }
  .accordion-heading {
    overflow: auto;
    a {
      overflow: auto;
    }
  }
  h4 {
    font-weight: 400;
    font-size: 20px;
    float: left;
    margin: 5px 0 5px 0;
    small {
      color: black;
      display: inline;
      padding-left: 0;
    }
  }
  hr {
    border-color: #e5e5e5;
    border-top: 0;
    margin: 20px -15px 9px -15px;
  }
  button {
    float: right;
    margin-left: 5px;
  }
}
strong > span {
  font-weight: 400;
}
input.ng-invalid.ng-dirty {
  background-color: #ffc2c2;
}

input.ng-valid.ng-dirty {
  background-color: #AEFCB8;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: #000;
  padding-left: 10px;
}
#about {
  p.lead {
    margin: 0;
  }
}
qrcode canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
