modal(show="modal.show == 'createError'", close='close()', opts='modal.opts')
  .modal-header
    h3 Error
  .modal-body Could not create the survey. Have you filled out all required fields?
  .modal-footer
    button.btn(ng-click='close()') Cancel
