modal(show="modal.show == 'noSurveys'", close="go('/')", opts='modal.opts')
  .modal-header
    h3 No surveys found
  .modal-body Could not find any surveys. Do you want to create some?
  .modal-footer
    button.btn.btn-primary(ng-click="createRandom()") Sure, I'll create one
    botton.btn(ng-click="go('/')") No way, Jose!
