div(modal='notFound', close='$location.path('/')', options='{ }')
  .modal-header
    h3 Not found
  .modal-body Could not find the survey. Want to create it?
  .modal-footer
    button.btn(ng-click='notFoundCancel()') Cancel
    button.btn.btn-warning.cancel(ng-click="gotoCreate()") OK
