modal(show="modal.show == 'qrCode'", close='close()', opts='modal.opts')
  .modal-header
    h3 QR Code
  .modal-body
    qrcode(size='390') http://{{qr.host}}{{qr.port}}/vote/#/{{qr.id}}
  .modal-footer
    button.btn(ng-click='close()') Close
