modal(show='modal.show == "resetError"', close='close()', opts='modal.opts')
  .modal-header
    h3 Error
  .modal-body Could not reset the feedback.
  .modal-footer
    button.btn(ng-click='close()') Doh!
