modal(show="modal.show == 'viewNotAllowed'", close='go("/")', opts='modal.opts')
  .modal-header
    h3 Permission denied
  .modal-body You are not allowed to view this page because you're not the owner.
  .modal-footer
    button.btn.btn-primary(ng-click="go('/')") Doh!
