modal(show='modal.show == "voteRecieved"', close='go("/")', opts='modal.opts')
  .modal-header
    h3 Thanks!
  .modal-body We've saved your vote.
  .modal-footer
    button.btn(ng-click='go("/")') Continue
