modal(show="modal.show == 'voteAlreadyRecieved'", close='go("/")', opts='modal.opts')
  .modal-header
    h3 Vote already recieved
  .modal-body We've already registered your vote.
  .modal-footer
    button.btn(ng-click='go("/")') Close
