#frontpage(vertical-center)
  h1 feedba.ch
  p.lead Vote by giving an 
    strong ID 
    | and press 
    strong Start!
  form(ng-submit='submit()')
    input(type='text', ng-model='input.id', autocorrect='off', autocapitalize='off').text-center
    br
    button.btn Start!
  p If <strong>{{input.id || 'ID'}}</strong> does not already exist,<br> you will be redirected to create it.
fb-modal(vote-already-recieved)
fb-modal(error)
