
<div id="frontpage" vertical-center="vertical-center">
  <h1>feedba.ch</h1>
  <p class="lead">Vote by giving an <strong>ID </strong>and press <strong>Start!</strong></p>
  <form ng-submit="submit()">
    <input type="text" ng-model="input.id" autocorrect="off" autocapitalize="off" class="text-center"/><br/>
    <button class="btn">Start!</button>
  </form>
  <p>If <strong>{{input.id || 'ID'}}</strong> does not already exist,<br> you will be redirected to create it.</p>
</div>
<fb-modal vote-already-recieved="vote-already-recieved"></fb-modal>
<fb-modal error="error"></fb-modal>