modal(show="modal.show == 'surveyNotFound'", close="go('/')", opts='modal.opts')
  .modal-header
    h3 <span class='id'>{{id}}</span> not found
  .modal-body Could not find the survey <span class="id">{{id}}</span>. Do you want to create it?
  .modal-footer
    button.btn.btn-primary(ng-click="go('/create/{{id}}')") Let's do so!
    button.btn(ng-click="go('/')") Rather chill..
