modal
  .modal-header
    h3 No surveys found
  .modal-body Could not find any surveys. Do you want to create some?
  .modal-footer
    button.btn.btn-primary(ng-click="$close()") Sure, I'll create one
    botton.btn(ng-click="$dismiss()") No way, Jose!
