modal
  .modal-header
    h3 Not owner
  .modal-body This id is already taken. Wan't to create a survey with another id?
  .modal-footer
    button.btn.btn-primary(ng-click='$close()', focus) Dammit, gimme' another id!
    button.btn(ng-click='$dismiss()') No thanks
