modal
  .modal-header
    h3 Instructions for voting
  .modal-body
    p.lead Go to {{shortUrl}} or scan QR code below.
    qrcode {{voteUrl}}
  .modal-footer
    button.btn(ng-click='$dismiss()') Close
