accordion(close-others='true', id="about")
  accordion-group
    accordion-heading
      p.lead What is feedba.ch?
    accordion-body
      p feedba.ch is a webapp that allows you to easily create surveys. It does not require sign in or any registration. An ID is created for every survey, you could create your own, or use the auto generated random ID at the start page.
  accordion-group
    accordion-heading
      p.lead How many questions can I ask?
    accordion-body
      p A survey could contain maximum 6 questions, each with 2-4 answers. You create extra questions by clicking <strong>+ Question</strong>.
  accordion-group
    accordion-heading
      p.lead How could I add more questions to a survey?
    accordion-body
      p When creating a survey, press <strong>+ Question</strong>. A new question is created, and you could switch between the questions by the tabs <strong>Question X</strong>.
  accordion-group
    accordion-heading
      p.lead How could I edit a existing survey?
    accordion-body
      p Editing is not possible, but you can delete the survey and create a new with the same ID.
