form(id='create', novalidate, name='createSurvey', ng-submit='submitSurvey()')
  input(type='hidden', ng-modell='{{survey.id}}')
  label(for='description') 
    h4 Creating 
      span.id {{survey.id}}
  input.input(type='text', id='description', placeholder='{{placeholder.description}}', ng-model='survey.description', tooltip-placement='bottom', tooltip-trigger='focus', tooltip-html-unsafe='Add a description to survey <strong>{{survey.id}}</strong> to easier remember it.')
  ul.nav.nav-tabs
    li(ng-repeat='q in survey.questions', ng-class='{ active: $index==active }')
      a(ng-click='setActive($index)')
        span.hidden-phone Question 
        | {{$index + 1}}
  .tab-content
    fieldset(ng-repeat='q in survey.questions', id='q{{$index}}', ng-show='$index==active')
      .add
        a(ng-click='addQuestion()') +
          span Question
      .question
        input(type='text', id='q[{{$index}}]', placeholder='{{placeholder.question}}', ng-model='q.question', required, tooltip-placement='top', tooltip-trigger='focus', tooltip='This field is required.')
        span.close(ng-click='delQuestion($index)') &times;
      .add
        a(ng-click='addAnswer($index)') +
          span Answers
      .answer(ng-repeat='a in q.answers')
        input.pull-left(type='text', name='anwer{{$parent.$index}}{{$index}}', id='answer[{{$parent.$index}}][{{$index}}]', placeholder='{{placeholder.answers[$index]}}', ng-model='a.answer', required, tooltip-placement='top', tooltip-trigger='focus', tooltip='Two answers per question are required.')
        span.close(ng-click='delAnswer($parent.$index, $index)') &times;
  button.btn.btn-primary(type='submit') Create!
fb-modal(not-owner)
fb-modal(create-error)
