
<div id="frontpage" vertical-center="vertical-center">
  <h1>feedba.ch</h1>
  <p class="lead">Vote or create a survey below!</p>
  <form ng-submit="submit()">
    <input type="text" placeholder="{{placeholder}}" ng-model="input.id" autocorrect="off" autocapitalize="off" class="text-center"/><br/>
    <button class="btn">Start!</button>
  </form>
  <h4 ng-if="surveys.length != 0">Your surveys:</h4>
  <li ng-repeat="survey in surveys | orderBy:'_id':true | limitTo:5"><a href="/#/view/{{survey.id}}">{{survey.id}} <span ng-if="survey.description != ''">- {{survey.description | words:5 }}</span></a></li><a ng-if="surveys.length &gt; 5" href="/#/overview"><strong>More...</strong></a>
</div>
<div modal="feedbackGiven" close="closeModal()" options="modalOpts">
  <div class="modal-header">
    <h3>Feedback already given</h3>
  </div>
  <div class="modal-body">We've already recieved your feedback for id <strong>{{id()}}.</strong></div>
  <div class="modal-footer">
    <button ng-click="closeModal()" class="btn btn-warning cancel">OK</button>
  </div>
</div>