#overview
  h3 Your precious surveys
  span(ng-if='surveys.length == 0') No surveys found.
  accordion(close-others='true')
    accordion-group(ng-repeat="survey in surveys | orderBy:'_id':true")
      accordion-heading
        h4 
          span.id {{survey.id}} 
          small(ng-if="survey.description") {{survey.description}}
        //- stopPropagation stops expand of accordion
        button.btn.btn-danger(ng-click='confirmDelete(survey.id); $event.stopPropagation()') Delete
        button.btn.btn-primary(ng-click='gotoView(survey.id); $event.stopPropagation()') Live view
      accordion-body
        ul(ng-repeat='question in survey.questions')
          p.lead {{question.question}}
          li(ng-repeat='answer in question.answers') {{answer.answer}}
        hr
        strong Votes: 
        span {{ survey.totalVotes || 0 }}
        strong.pull-right Created: 
          span {{ idToDate(survey._id) | date:'MMM d, y H:mm' }}
fb-modal(no-surveys)
fb-modal(delete-error)
fb-modal(confirm-delete)
