#view
  .header.span12
    h4 <span class="id">{{survey.id}}</span> 
      small {{survey.description}}
    button.btn.btn-warning(ng-click=('resetFeedback()')) Reset feedback
    button.btn.btn-danger(ng-click=('confirmDelete()')) Delete
  .span6.questions(ng-repeat='q in survey.questions')
    span.question {{q.question}}
    .answers(ng-repeat='a in q.answers')
      .span4.answer {{a.answer}}
      .span8: progress(percent='a.percent', auto-text='true')
  .bottom: strong Votes: {{survey.totalVotes}}
fb-modal(survey-not-found)
fb-modal(view-not-allowed)
fb-modal(error)
fb-modal(delete-error)
fb-modal(confirm-delete)
fb-modal(reset-error)
