#view
  .header.span12
    h4 <span class="id">{{survey.id}}</span> 
      small {{survey.description}}
    button.btn.btn-warning(ng-click=('resetFeedback()')) Reset feedback
    button.btn.btn-danger(ng-click=('confirmDelete()')) Delete
    button.btn(ng-click="showInstructions()") Vote instructions
  .span6.questions(ng-repeat='q in survey.questions')
    span.question {{q.question}}
    .answers(ng-repeat='a in q.answers')
      .span4.answer {{a.answer}}
      .span8: progress(percent='a.percent') {{a.percent}}% //TODO
  .bottom: strong Votes: {{survey.totalVotes}}
.instruction-wrapper.hide
  .backfade(ng-click='hideInstructions()')
  .instructions
    .row-fluid
      .span6
        .header
          h1 Method 1
        li: h3 Scan QR code
        qrcode(size="400") {{voteUrl}}
        li: h3 Vote
      .span6
        .header
          h1 Method 2
        li: h3 Open your brower
        img(src="images/chrome.jpg", style="width:50px")
        li: h3 Go to url
        p.lead {{shortUrl}}
        li: h3 Vote
